@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.btn-with-icon {
  @apply cursor-pointer w-fit flex items-center gap-5 self-start text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
}

.btn-default {
  @apply cursor-pointer text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
}

.max-size-canvas {
  max-width: 1200px;
  max-height: 600px;
}

.max-size-canvas-common {
  max-width: 700px;
  max-height: 550px;
}